# Rust
**/target/

# Python
**/.venv/
**/__pycache__/
*.pyc

# Variables locales
.env

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Ejecutables compilados en Windows
*.exe
*.pdb
Proyecto2/.venv-locust/
Proyecto2/oci-download-test/
Proyecto2/locust/__pycache__/


