# Git
.git
.gitignore

# Rust
**/target/

# Python
**/.venv/
**/__pycache__/
**/*.pyc

# Ejecutables locales de Windows
**/*.exe
**/*.pdb

# Editores y sistema
**/.vscode/
**/.idea/
**/Thumbs.db
**/.DS_Store
